<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ProgramMangerTest">


<listeners>
		<listener class-name="com.pm.qa.ExtentReportListener.ExtentReportListener" />
</listeners>

  <test thread-count="5" name="PMRegression">

    <classes>
    
      <class name="com.pm.qa.testcases.LoginPageTest"/>
      <class name="com.pm.qa.testcases.NewProgramPageTest"/>
      <class name="com.pm.qa.testcases.HomePageTest"/>
      
    </classes>
  </test> <!-- PMRegression -->
</suite> <!-- ProgramMangerTest -->
